<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ThreadTime" value="1" />
    <add key="Hostname" value="172.16.2.64" />
    <add key="Password" value="guest" />
    <add key="UserName" value="guest" />
    <add key="Port" value="5672" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>